<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>


      </ul>
      <form class="d-flex" role="search">

          <a class="nav-link" routerLink="/auth">Log-in</a>

      </form>
    </div>
  </div>
</nav>

<div class="container">
  <input type="text" name="nome-citta" placeholder="Digita il nome di una città,ex Roma,Napoli... "
    [(ngModel)]="nomeCitta">
  <button (click)="caricaDati()" class="btn btn-outline-success" type="submit">Cerca</button>
</div>
<div *ngIf="errore!=null"><span>{{errore}}</span></div>
<table *ngIf="errore==null" class="table">
  <thead>
    <tr>
      <th scope="col">Date/Hours</th>
      <th *ngFor="let df of dailyForecasts" scope="col">{{df.date|date:'dd/MM/yy'}}</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let h of hours'>
      <td>{{h|date:'HH:mm'}}</td>
      <td *ngFor="let df of dailyForecasts">{{getWeather(df,h)}}</td>
    </tr>

</table>
<router-outlet></router-outlet>
