* {
  box-sizing: border-box;
}
body {
  width: 100dvw;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu-header-container {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  border-bottom: 1px solid black;
  z-index: 10;
  background-color: #ffc017;

  /* border: 2px solid brown; */
}
.main-logo-menu-container {
  width: 100%;
  max-width: 1192px;

  /* border: 2px solid black; */
}
.logo-menu-container {
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
}
.spacer {
  flex-grow: 1;
  /* border: 2px solid purple; */
}
.menu-container {
  display: flex;

  /* border: 2px solid blue; */
}
.menu-container a {
  color: black;
  text-decoration: none;
  padding: 12px;
}
.black-button {
  color: white !important;
  border-radius: 2em;
  background-color: black;
  text-decoration: none;
  padding: 12px;
}
.title-container {
  background-image: url(../imgs/svg/m.svg);
  height: 450px;
  padding-top: 75px;
  background-color: #ffc017;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
}
.main-description-container {
  max-width: 1192px;
  border: 3px solid red;

  display: flex;
  align-items: center;
}
.main-description {
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.main-description a {
  padding-left: 60px;
  padding-right: 60px;
  font-size: 1.3em;
}

h1 {
  font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 7rem;
  margin-bottom: 20px;
}
.main-description p {
  font-size: 1.7em;
}

.trending-container {
  padding-top: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
  column-gap: 5px;
  padding-left: 150px;
  padding-top: 50px;
  border-bottom:1px solid rgb(184, 183, 183);
  padding-bottom:50px;
}
.trending-section-title {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
}
.trending {
  display: flex;
  column-gap: 10px;
  flex-basis: 33%;

}
.trending-article {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.img-author {
  display: flex;
  align-items: center;
}
.trending-num {
  font-size: 32px;
  color: #dad8d8;
}
.trending h3 {
  font-weight: bold;
  font-size: 16px;
}
.author {
  font-size: 13px;
}
.trending-date{
  font-size: 13px;
}
.main-article{
  padding-top:40px;
  display: flex;
  justify-content: center;
  border: 2px solid green;
}
.sub-article{
  display: flex;
  flex-direction: column;
 
  border: 2px solid red;
}
.article{
  display: flex;
}
.topics{
  display: flex;
  flex-grow: 1;
}
.post-article {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
.post {
  display: flex;
 
}
.post-date{
  padding-top: 5px;
  font-size: 13px;
}
.post h3{
  font-weight: bold;
  font-size: 18px;
}
.subtitle{
  font-size: 13px;
}
.topics{
  column-gap: 20px;
  row-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33%;
}
.align-article{
  column-gap: 50px;
  display: flex;
  max-width: 1192px;
}
.topic-pill{
  font-size: 14px;
  color: black;
  border-radius: 2em;
  background-color:#F2F2F2;
  text-decoration: none;
  padding: 12px;
}